<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dinawin2" value="http://192.168.10.175:8081/repository/dinawin2/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <TeamCity>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="1234" />
      <add key="apikey" value="01f737a7-6519-3a5b-b963-36a819ca29fa" />
    </TeamCity>
  </packageSourceCredentials>
</configuration>
